## Data Source:
[kaggle](https://www.kaggle.com/competitions/word2vec-nlp-tutorial/overview)

## Project Summary 
* This project entails performing a Sentiment Analysis on a set of movie reviews
* 1 == good
* 0 == bad

In [2]:
# i just want to cry
import pandas as pd

In [5]:
df = pd.read_csv('labeledTrainData.tsv',header=0, delimiter="\t",      quoting=3)
df.head()

         id  sentiment                                             review
0  "5814_8"          1  "With all this stuff going down at the moment ...
1  "2381_9"          1  "\"The Classic War of the Worlds\" by Timothy ...
2  "7759_3"          0  "The film starts with a manager (Nicholas Bell...
3  "3630_4"          0  "It must be assumed that those who praised thi...
4  "9495_8"          1  "Superbly trashy and wondrously unpretentious ...

In [ ]:
import numpy as np
import string
from nltk.corpus import stopwords
words = stopwords.words('english')

In [6]:
def clean(data):
    # removes punctuations
    wrds = [i for i in data if i not in string.punctuation]
    word = ''.join(wrds)
    #print(word)
    return word

def prepare(data):
    # remove stopwords
    data2 = clean(data)
    #print(data2.split())
    real =  [i for i in data2.split() if i.lower() not in words ]
    return real

In [8]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer,TfidfTransformer
from sklearn.svm import SVC

In [9]:
from sklearn import model_selection

In [11]:
df.columns

Index(['id', 'sentiment', 'review'], dtype='object')

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
x=df.review
y=df.sentiment
x_test,x_train,y_test,y_train =train_test_split(x,y,test_size=0.3)

In [47]:
from sklearn.metrics import classification_report
pipe3 = Pipeline([ ('bag',CountVectorizer()), 
                  ('tfidf',TfidfTransformer()), 
                  ('model',SVC())
])

pipe3.fit(x_train,y_train)
pre =pipe3.predict(x_test)
print(classification_report(y_test,pre))

              precision    recall  f1-score   support

           0       0.89      0.86      0.87      8753
           1       0.86      0.89      0.88      8747

    accuracy                           0.88     17500
   macro avg       0.88      0.88      0.88     17500
weighted avg       0.88      0.88      0.88     17500

In [48]:
scores = model_selection.cross_val_score(pipe3, df.review, df["sentiment"], cv=3, scoring="f1")

In [49]:
scores

array([0.89416489, 0.88880969, 0.89378949])

In [60]:
test_data = pd.read_csv('testData.tsv',header=0, delimiter="\t",      quoting=3)
test_data.head()

           id                                             review
0  "12311_10"  "Naturally in a film who's main themes are of ...
1    "8348_2"  "This movie is a disaster within a disaster fi...
2    "5828_4"  "All in all, this is a movie for kids. We saw ...
3    "7186_2"  "Afraid of the Dark left me with the impressio...
4   "12128_7"  "A very accurate depiction of small time mob l...

In [61]:
test_data['sentiment'] = pipe3.predict(test_data.review)
test_data.head()

           id                                             review  sentiment
0  "12311_10"  "Naturally in a film who's main themes are of ...          1
1    "8348_2"  "This movie is a disaster within a disaster fi...          0
2    "5828_4"  "All in all, this is a movie for kids. We saw ...          1
3    "7186_2"  "Afraid of the Dark left me with the impressio...          1
4   "12128_7"  "A very accurate depiction of small time mob l...          1

In [62]:
test_data[['id','sentiment']].head()

           id  sentiment
0  "12311_10"          1
1    "8348_2"          0
2    "5828_4"          1
3    "7186_2"          1
4   "12128_7"          1

In [72]:
test_data[['id','sentiment']].to_csv('Submission_filee.csv',index=False)

TypeError: to_csv() got an unexpected keyword argument 'delimeter'

In [71]:
print(test_data.review[1])

"This movie is a disaster within a disaster film. It is full of great action scenes, which are only meaningful if you throw away all sense of reality. Let's see, word to the wise, lava burns you; steam burns you. You can't stand next to lava. Diverting a minor lava flow is difficult, let alone a significant one. Scares me to think that some might actually believe what they saw in this movie.<br /><br />Even worse is the significant amount of talent that went into making this film. I mean the acting is actually very good. The effects are above average. Hard to believe somebody read the scripts for this and allowed all this talent to be wasted. I guess my suggestion would be that if this movie is about to start on TV ... look away! It is like a train wreck: it is so awful that once you know what is coming, you just have to watch. Look away and spend your time on more meaningful content."

In [67]:
len(test_data)

25000

In [73]:
fd= pd.read_csv('sampleSubmission.csv')

In [76]:
fd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         25000 non-null  object
 1   sentiment  25000 non-null  int64
dtypes: int64(1), object(1)
memory usage: 390.8+ KB

In [77]:
fd.sentiment=test_data.sentiment

In [82]:
fd.to_csv('sumbit.csv',index=False)

In [80]:
fd.head()

         id  sentiment
0  12311_10          1
1    8348_2          0
2    5828_4          1
3    7186_2          1
4   12128_7          1